/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#centerPane   {
	-fx-background-color: rgb(0,64,128);
}
#leftPane, #rightPane {
	-fx-background-color: rgb(0,62,124);
}

#prevButton, #nextButton {
	-fx-effect: null;
	-fx-background-color: rgb(210, 210, 210);
	-fx-background-radius: 0;
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-background-insets: 0;
}

#prevButton:hover, #nextButton:hover {
	-fx-background-color: white;
	-fx-effect: innershadow(gaussian, rgb(100, 100, 100), 8, .1, 0, 0);
}

#prevButton:pressed, #nextButton:pressed {
	-fx-background-color: white;
	-fx-effect: innershadow(gaussian, rgb(100, 100, 100), 15, .3, 0, 0);
}